<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/alertify.rtl.css">
    <link rel="stylesheet" href="assets/css/checkboxProductos.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/OtherStyle.css">
</head>

<body id="page-top">
    <div id="app">
        <nav class="navbar navbar-light navbar-expand-lg sticky-top bg-secondary text-uppercase" id="mainNav">
            <div class="container-fluid"><a class="navbar-brand js-scroll-trigger" href="#page-top"><i class="fa fa-ravelry ocultar" id="icon"></i>sistema pos</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="index.html">home</a></li>
                        <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" id="ordenDelNav" href="orden.html">orden</a></li>
                        <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="menu.html">menú</a></li>
                        <li class="nav-item dropdown bg-primary border rounded border-primary d-lg-flex align-items-lg-center" id="admon"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" style="color: #fff;" href="#">administración</a>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item active" role="presentation" href="#">categoria</a><a class="dropdown-item" role="presentation" href="productos.html">producto</a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- alerta que aparece -->
        <div class="alert alert-success collapse" role="alert" id="miAlerta"><span><strong>{{ alerta.titulo }} :</strong>&nbsp;{{ alerta.mensaje }}.</span><i class="fa fa-close close" v-on:click="cerrarAlerta();"></i></div>

        <form>
            <div class="shadow-sm justify-content-end justify-content-lg-end input-group" style="padding: 12px;font-size: 14px;font-weight: 400;line-height: 1;color: #555;text-align: center;background-color: #eee;border: 1px solid #ccc;border-radius: 4px;">
                <div id="primDiv" class="input-group-prepend primDiv">
                    <!-- Start: textinput with icon -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend"><span class="d-sm-flex input-group-text"><i class="fa fa-search" style="font-size: 24px;"></i></span></div><input class="form-control form-control-lg d-sm-flex justify-content-sm-start" type="text" id="txtBuscar" placeholder="Buscar"></div>
                    <!-- End: textinput with icon -->
                </div>
                <div class="d-flex justify-content-center justify-content-sm-center justify-content-md-end justify-content-lg-end justify-content-xl-end primDiv"><button class="btn btn-primary text-center border rounded shadow-sm float-right flex-shrink-1" id="btnNewOrder" type="button" data-toggle="modal" data-target="#modalNuevaCategoria">Agregar nueva categoria</button></div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover tbl tr td" id="table">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">CATEGORIA</th>
                            <th class="text-center">ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <tr v-for="(categoria,index) in categorias" v-on:click.prevent="categoriaSeleccionada=categoria">
                                <td class="text-center">{{categoria.idCategoria}}</td>
                                <td class="text-center">{{categoria.nombreCategoria}}</td>
                                <td class="text-center"><button class="btn btn-outline-primary btn-sm" type="button" data-toggle="modal" data-target="#modalEditarCategoria"><i class="fa fa-pencil"></i></button><button class="btn btn-outline-primary btn-sm" type="button" data-target="#modalEliminarCategoria"
                                        data-toggle="modal"><i class="fa fa-trash-o"></i></button></td>
                            </tr>



                    </tbody>
                </table>
            </div>
        </form>
        <!-- Start: Footer (Fills the hole page) -->
        <footer class="d-flex align-items-center footer text-center" id="footer">
            <div class="container text-center">
                <div class="row d-flex d-md-flex d-xl-flex justify-content-center align-items-center align-items-md-center justify-content-xl-center">
                    <div class="col-md-4 align-items-center align-content-center" id="footer">
                        <div>
                            <h4 class="text-uppercase">contáctame</h4>
                        </div>
                        <div>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" data-bs-hover-animate="swing" href="https://www.facebook.com/Cristian.Ayala.Chacon" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
                                <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" data-bs-hover-animate="swing" href="https://www.instagram.com/cristian.ayala10/" target="_blank"><i class="fa fa-instagram fa-fw"></i></a></li>
                                <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" data-bs-hover-animate="swing" href="https://github.com/Cristian-Ayala" target="_blank"><i class="fa fa-github fa-fw"></i></a></li>
                                <li class="list-inline-item"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End: Footer (Fills the hole page) -->
        <div id="lastOne" class="copyright py-4 text-center text-white">
            <div class="container"><small>FPI135</small></div>
        </div>
        <div class="d-lg-none scroll-to-top position-fixed rounded"><a class="d-block js-scroll-trigger text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
        <div class="modal fade" role="dialog" tabindex="-1" id="modalNuevaCategoria">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header d-flex align-items-center">
                        <h4 class="modal-title">Agregar Categoria</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                    <div class="modal-body">
                        <div class="input-group mb-3 d-flex align-items-center"><label for="frmIdCategoria" class="text-centered" style="
                                font-size: 20px;
                                padding-right: 20px;
                            ">ID</label>
                            <div class="input-group-prepend"></div><input v-model="nuevaCategoria.idCategoria" type="text" placeholder="ID de la categoría" class="form-control form-control-lg d-sm-flex justify-content-sm-start"></div>

                        <!-- Start: textinput with icon -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-file-o" style="font-size: 24px;"></i></span></div><input type="text" class="form-control form-control-lg d-sm-flex justify-content-sm-start" v-model="nuevaCategoria.nombreCategoria"
                                placeholder="Nombre de la Categoria"></div>
                        <!-- End: textinput with icon -->
                    </div>
                    <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Cerrar</button><button class="btn btn-primary" type="button" @click="agregarCategoria" data-dismiss="modal">Agregar</button></div>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" tabindex="-1" id="modalEditarCategoria">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header d-flex align-items-center">
                        <h4 class="modal-title">Editar Categoria</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                    <div class="modal-body">
                        <div class="input-group mb-3 d-flex align-items-center"><label for="frmIdCategoria" class="text-centered" style="font-size: 20px; padding-right: 20px;">ID</label>
                            <div class="input-group-prepend"></div><input readonly type="text" placeholder="ID" class="form-control form-control-lg d-sm-flex justify-content-sm-start" v-model="categoriaSeleccionada.idCategoria"></div>
                        <!-- Start: textinput with icon -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-file-o" style="font-size: 24px;"></i></span></div><input v-model="categoriaSeleccionada.nombreCategoria" type="text" class="form-control form-control-lg d-sm-flex justify-content-sm-start"
                                placeholder="Nombre de la Categoria"></div>
                        <!-- End: textinput with icon -->
                    </div>
                    <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Cerrar</button><button class="btn btn-primary" type="button" @click="editarCategoria();" data-dismiss="modal">Modificar</button></div>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Modal Title</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                    <div class="modal-body">
                        <p>The content of your modal.</p>
                    </div>
                    <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Save</button></div>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" tabindex="-1" id="modalEliminarCategoria">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header d-flex align-items-center">
                        <h4 class="modal-title">Eliminar categoría</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                    <div class="modal-body">
                        <p>¿Está seguro que quiere eliminar la categoría "{{this.categoriaSeleccionada.nombreCategoria}}"?</p>
                    </div>
                    <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Cerrar</button><button class="btn btn-danger" type="button" data-dismiss="modal" @click="eliminarCategoria();">Eliminar</button></div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script src="assets/js/footer.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="assets/js/orden.js"></script>
    <script src="assets/js/script.js"></script>
    <script src="assets/js/categoriaVue.js"></script>
</body>

</html>